$commonBg:#040633;
$dateH:2rem; //日期天数时间高度
$tableH: 15rem;//报价单人员排名表格高度
$tableTitle: 2.2rem;  //报价单人员排名表格标题高度
$quoteEchartH:18rem; //报价单分公司区域排名高度
$quoteRankW:30rem; //报价单长度
$middleW:30rem;
$middleH:5rem;
$quoteAllW:30rem;  //报价单的折线柱状图宽度
$quoteAllH:18rem; //
